<div class="card">
  <div class="card-header text-center">
    Imagenes
  </div>
  <div class="card-body text-center">
    <table class="table table-striped table-borderless">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Img</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sliderImg of sliderImgs">
          <th scope="row">{{ sliderImg.getId() }}</th>
          <td>{{ sliderImg.getNombre() }}</td>
          <img class="img-thumbnail" [src]="'http://localhost/agua-poin/public/storage/' + sliderImg.getImgSrc()" alt="">
          <td>
            <a class="btn btn-default" routerLink="show/{{ sliderImg.getId() }}" routerLinkActive="active">Ver</a>
            <a class="btn btn-warning" routerLink="edit/{{ sliderImg.getId() }}" routerLinkActive="active">Editar</a>
            <button type="button" class="btn btn-danger" (click)="deletePromocion(sliderImg.getId())">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer text-muted">
    <a class="btn btn-primary" routerLink="create" routerLinkActive="active">Nueva imagen</a>
  </div>
</div>
