<div class="login-card text-center">
  <img src="assets/logo.png" class="login-img-header">
  <form>
    <div class="form-group">
      <input name="correo" [(ngModel)]="correo" type="email" class="form-control" id="correo" placeholder="Correo">
    </div>
    <div class="form-group">
      <input name="clave" [(ngModel)]="clave" type="password" class="form-control" id="clave" placeholder="Clave">
    </div>
    <button type="button" class="btn btn-primary btn-block" (click)="login()">Submit</button>
  </form>
</div>
