.navbar{
  background: yellow;
}

.front-img{

  background: blue;
  height: 500px;
}

.bar-1{

  background: orange;
  height: 270px;
}

.bar-2{

  background: pink;
}

.card-1{

  background: red;
  height: 280px;
  border: 1px solid black;
}

.bar-3{

  background: green;
}

.card-2{


  border: 1px solid black;
  height: 290px;
}

.pedido{

  background: #a647c2;
  height: 400px;
}
