
.user-container{

  background-image: url("/assets/wormz.png");
}

.navbar{

  box-shadow: 0 0 17px 1px rgba(0, 0, 0, .5);
  transition: .3s background linear 0s;
}

.navbar-yellow{

  background: white;
}

.navbar-red{

  background-color: #005792;
  color: yellow;
}

.front-img{

  background: #53cde2;
  height: 700px;
  overflow: hidden;
  position: relative;
}

.front-img img{

  width: 100%;
  position: absolute;
  top: -200px;
  opacity: .5;
}
