.pedidos-container{

  background: white;
  padding: 80px 40px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .5);
}

.pedidos{

  padding: 50px 20px;
  background-image: url("/assets/fondo-azul.jpg");
}

.form-control{

  border-radius: 0;
}

.btn-send{

  margin-top: 10px;
  border-radius: 25px;
  background: black;
  padding: 7px 20px;
  border: none;
}

.preloader-container{

  position: relative;
  margin: 40px 0;
}

.preloader-container h2{

  transition: .3s opacity linear 0s;
}

.fade-out{

  opacity: 0;
}
