<div class="card">
  <div class="card-header text-center">
    Notas
  </div>
  <div class="card-body text-center">
    <table class="table table-borderless table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Titulo</th>
          <th>Cuerpo</th>
          <th>Img</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let nota of notas">
          <th scope="row">{{ nota.getId() }}</th>
          <td>{{ nota.getTitulo() }}</td>
          <td>{{ nota.getCuerpo() }}</td>
          <td> <img src="http://localhost/agua-poin/public/storage/{{ nota.getImgName() }}" class="img-thumbnail" alt=""></td>
          <td>
            <a class="btn btn-default" routerLink="show/{{ nota.getId() }}" routerLinkActive="active">Ver</a>
            <a class="btn btn-warning" routerLink="edit/{{ nota.getId() }}" routerLinkActive="active">Editar</a>
            <button type="button" class="btn btn-danger" (click)="deleteNota(nota.getId())">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <a class="btn btn-primary" routerLink="create" routerLinkActive="active">Crear nota</a>
  </div>
</div>

<app-preloader></app-preloader>
