<div class="card text-center">
  <div class="card-header">
    Pedidos
  </div>
  <div class="card-body">
    <table class="table table-borderless table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Direccion</th>
          <th>Telefono</th>
          <th>Cantidad</th>
          <th>Horario</th>
          <th>Producto</th>
          <th>Fecha</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedido of pedidos">
          <th scope="row">{{ pedido.getId() }}</th>
          <td>{{ pedido.getNombre() }}</td>
          <td>{{ pedido.getDireccion() }}</td>
          <td>{{ pedido.getTelefono() }}</td>
          <td>{{ pedido.getCantidad() }}</td>
          <td>{{ pedido.getHorario() }}</td>
          <td>
            <img src="http://31.220.60.62/agua-poin/public/storage/{{ pedido.getProducto().getImgName() }}" class="img-thumbnail" width="100" height="100" alt="">
          </td>
          <td>
            {{ pedido.getFecha() }}
          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="deletePedido(pedido.getId())">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>