<div class="productos-container">

  <div class="bar-header-productos">
    <div class="container">
      <h2>Productos</h2>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-4" *ngFor="let producto of productos">
        <div class="card">
          <img class="card-img-top" src="http://localhost/agua-poin/public/storage/{{ producto.getImg() }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ producto.getNombre() }}</h5>
            <span>{{ producto.getPrecio() }}$</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
