<div class="promociones-container" id="promociones-container">
  <div class="bar-header-promociones">
      <div class="container">
        <h2>Promociones</h2>
      </div>
    </div>
    
    <div *ngFor="let promocion of promociones" class="promocion text-center">
      <iframe class="promocion-video" *ngIf="promocion.getMedia() == 'video'" [src]="updateVideoUrl(promocion.getSrc())" frameborder="0"></iframe>
      <img *ngIf="promocion.getMedia() == 'imagen'" src="http://localhost/agua-poin/public/storage/{{ promocion.getSrc() }}" alt="">
    </div>
</div>
