.bar-header-notas{

  background: #005792;
  padding: 10px;
  margin-bottom: 40px;
  color: #edf9fc;
}

.nota-card{

  margin: 80px 0;
}

.nota-media img{

  width: 140px;
  height: 140px;
}

.nota-media{

  float: left;
  margin: 10px;
  border-radius: 70px;
  overflow: hidden;
}

.nota-text{

  float: left;
  max-width: 60%;
  background: #53cde2;
  padding: 25px;
  border-radius: 10px;
  color: white;
}

.nota-card:nth-child(odd) {

  .nota-media{

    float: right;
  }

  .nota-text{

    float: right;
  }
}

.nota-card:after {

  content: '';
  display: block;
  clear: both;
}
