<div class="notas-container">
  <div class="nota-card">
    <div class="nota-img">
      <img src="assets/img.jpeg" alt="">
    </div>
    <div class="nota-text">
      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit tempor vestibulum leo, cum vehicula urna porta viverra turpis dapibus scelerisque hac mi, molestie quisque pharetra tellus ultrices eros aliquet suspendisse quam. Facilisis justo gravida tincidunt leo lobortis cras eros sociis ut vel,</p>
    </div>
  </div>
  <div class="nota-card">
    <div class="nota-img">
      <img src="assets/img.jpeg" alt="">
    </div>
    <div class="nota-text">
      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit tempor vestibulum leo, cum vehicula urna porta viverra turpis dapibus scelerisque hac mi, molestie quisque pharetra tellus ultrices eros aliquet suspendisse quam. Facilisis justo gravida tincidunt leo lobortis cras eros sociis ut vel,</p>
    </div>
  </div>
  <div class="nota-card">
    <div class="nota-img">
      <img src="assets/img.jpeg" alt="">
    </div>
    <div class="nota-text">
      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit tempor vestibulum leo, cum vehicula urna porta viverra turpis dapibus scelerisque hac mi, molestie quisque pharetra tellus ultrices eros aliquet suspendisse quam. Facilisis justo gravida tincidunt leo lobortis cras eros sociis ut vel,</p>
    </div>
  </div>
</div>
