<div class="notas-container" id="notas-container">

  <div class="bar-header-notas">
    <div class="container">
      <h2>Notas</h2>
    </div>
  </div>

  <div class="container">
    <div class="nota-card" *ngFor="let nota of notas">
      <div class="nota-media">
        <img *ngIf="nota.getMedia() == 'imagen'" src="http://localhost/agua-poin/public/storage/{{ nota.getSrc() }}" alt="">
        <iframe *ngIf="nota.getMedia() == 'video'" width="300" height="200" [src]="updateVideoUrl(nota.getSrc())" frameborder="0"></iframe>
      </div>
      <div class="nota-text text-center">
        <h3>{{ nota.getTitulo() }}</h3>
        <p>{{ nota.getCuerpo() }}</p>
      </div>
    </div>
  </div>
</div>
